@import "../PlanCurrentUserInfo.scss";

.titleHelp {
    font-size: 0.625rem;
}

.titleContainer {
    margin-bottom: 0.45rem;
}

.content {
    font-size: 1.5rem;
    line-height: 1;
}

.contentHelp {
    font-size: 0.5rem;
}

.buttonsContainer {
    margin-top: 0.45rem;
}
