{% extends "admin/base_site.html" %}

{% block content %}

<form id="batch_calculate_stats_form" action="/admin/batch_calculate_stats/" method="POST">
    {% csrf_token %}
    <label class="required" for="company_id">Company:</label>
    <select id="company_id" name="company_id" required>
        <option value="" selected>---------</option>
        {% for key, value in data.items %}
            <option value={{ value.company.id }}>{{ value.company.name }}</option>
        {% endfor %}
    </select>
    <label for="target_year_month">対象年月:</label>
    <input id="target_year_month" type="text" placeholder="YYYY/MM(未指定時は先月)" />

    <label for="chk_organization">Organization:</label>
    <input id="chk_organization" type="checkbox" />

    <label for="chk_contact">Contact:</label>
    <input id="chk_contact" type="checkbox" />

    <label for="chk_scheduled_email">ScheduledEmail:</label>
    <input id="chk_scheduled_email" type="checkbox" />

    <button id="form_button" type="submit" class="button" >実行</button>
</form>

<p>OrganizationStat</p>
<table class="stats_info_table">
    <thead>
        <th>ID</th>
        <th>COMPANY ID</th>
        <th>COMPANY NAME</th>
        <th>TARGET DATE</th>
        <th>PROSPECTIVE</th>
        <th>APPROACHED</th>
        <th>EXCHANGED</th>
        <th>CLIENT</th>
        <th>BLOCKLIST</th>
        <th>CREATED TIME</th>
    </thead>
    <tbody>
        {% for key, value in data.items %}
            {% for p in value.organization_stat %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.company.id }}</td>
                <td>{{ p.company.name }}</td>
                <td>{{ p.target_date }}</td>
                <td>{{ p.prospective }}</td>
                <td>{{ p.approached }}</td>
                <td>{{ p.exchanged }}</td>
                <td>{{ p.client }}</td>
                <td>{{ p.blocklist }}</td>
                <td>{{ p.created_time }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<p>ContactStat</p>
<table class="stats_info_table">
    <thead>
        <th>ID</th>
        <th>COMPANY ID</th>
        <th>COMPANY NAME</th>
        <th>TARGET DATE</th>
        <th>JOBTYPE_DEV</th>
        <th>JOBTYPE_INFRA</th>
        <th>JOBTYPE_OTHER</th>
        <th>PERSONNELTYPE_DEV</th>
        <th>PERSONNELTYPE_INFRA</th>
        <th>PERSONNELTYPE_OTHER</th>
        <th>OTHER</th>
        <th>CREATED TIME</th>
    </thead>
    <tbody>
        {% for key, value in data.items %}
            {% for p in value.contact_stat %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.company.id }}</td>
                <td>{{ p.company.name }}</td>
                <td>{{ p.target_date }}</td>
                <td>{{ p.jobtype_dev }}</td>
                <td>{{ p.jobtype_infra }}</td>
                <td>{{ p.jobtype_other }}</td>
                <td>{{ p.personneltype_dev }}</td>
                <td>{{ p.personneltype_infra }}</td>
                <td>{{ p.personneltype_other }}</td>
                <td>{{ p.other }}</td>
                <td>{{ p.created_time }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<p>ScheduledEmailStat</p>
<table class="stats_info_table">
    <thead>
        <tr>
        <th>ID</th>
        <th>COMPANY ID</th>
        <th>COMPANY NAME</th>
        <th>TARGET DATE</th>
        <th>JOB</th>
        <th>PERSONNEL</th>
        <th>OTHER</th>
        <th>CREATED TIME</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in data.items %}
            {% for p in value.scheduled_email_stat %}
                <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.company.id }}</td>
                <td>{{ p.company.name }}</td>
                <td>{{ p.target_date }}</td>
                <td>{{ p.job }}</td>
                <td>{{ p.personnel }}</td>
                <td>{{ p.other }}</td>
                <td>{{ p.created_time }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = $.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $("#company_id").change(function(event) {
        var id = $("#company_id").val()
        $(".stats_info_table > tbody > tr").each(function(index , tr){
            if (id.length === 0 || $(tr).find('td:contains('+id+')').length !== 0) {
                $(tr).show()
            } else {
                $(tr).hide()
            }
        });
    });

    $("#batch_calculate_stats_form").submit(function(event) {
        // エラー表示が存在する場合は削除
        $('.errornote').remove();
        var target_year_month = $('#target_year_month').val()
        if(target_year_month !== "" && !target_year_month.match(/^\d{4}\/\d{2}$/)){
            // エラーを表示する
            $("#batch_calculate_stats_form").before('<p class="errornote">対象年月はYYYY/MMで入力してください。</p>')
            return false
        }
        if (!window.confirm("支払処理を実行します。よろしいですか？")) {
            return false
        }
        event.preventDefault();
        var form = $(this);
        // 処理開始を表示
        $('#content').before('<ul class="messagelist"><li>処理実行中です</li></ul>');
        // 連打対策のため、ボタンの非活性化
        $("#form_button").prop("disabled", true);
        $.ajax({
             url: form.prop("action"),
             type: form.prop("method"),
             data: {
                 'company_id': $('#company_id').val(),
                 'target_year_month': target_year_month,
                 'is_target_organization': $('#chk_organization').prop('checked'),
                 'is_target_contact': $('#chk_contact').prop('checked'),
                 'is_target_scheduled_email': $('#chk_scheduled_email').prop('checked'),
             },
             timeout: 30000,
        })
        .done(function(data) {
            $('.messagelist').append('<li>処理成功しました</li>');
            // 1秒待ってからHome画面に遷移する
            setTimeout(function(){
                window.location.href = '/admin/';
            }, 1000);
        })
        .fail(function() {
            // ボタン活性化
            $("#form_button").prop("disabled", false);
            // 処理開始のメッセージ削除
            $('.messagelist').remove();
            // エラーを表示する
            $("#batch_calculate_stats_form").before('<p class="errornote">サーバー側でエラーが発生しました。</p>')
        });
    });
</script>

{% endblock %}
