{% extends "admin/base_site.html" %}

{% block content %}
<form id="select_company_form" action="/admin/display_email_group_models/" method="GET">
    <label class="required" for="company_id">Company:</label>
    <select id="company_id" name="company_id" required>
        <option value="" {% if selected_id == "" %} selected {% endif %} >---------</option>
        {% for company in data.companies %}
            <option value={{ company.id }} {% if company.is_selected %} selected {% endif %}>{{ company.name }}</option>
        {% endfor %}
    </select>
    <button id="form_button" type="submit" class="button" >更新</button>
</form>

{% if selected_id != "" %}

{% if data.Company %}
<div id="Company">
    <h2>Company</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>NAME</th>
            <th>DOMAIN NAME</th>
            <th>ADDRESS</th>
            <th>BUILDING</th>
            <th>CAPITAL MAN YEN</th>
            <th>ESTABLISHMENT DATE</th>
            <th>HAS P MARK OR ISMS</th>
            <th>HAS INVOICE SYSTEM</th>
            <th>HAS HAKEN</th>
            <th>HAS DISTRIBUTION</th>
            <th>EMPLOYEE NUMBER</th>
            <th>CAPITAL MAN YEN REQUIRED FOR TRANSACTIONS</th>
            <th>ESTABLISHMENT YEAR</th>
            <th>P MARK OR ISMS</th>
            <th>INVOICE SYSTEM</th>
            <th>HAKEN</th>
            <th>DEACTIVATED_TIME</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.Company.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.domain_name }}</td>
                <td>{{ p.address }}</td>
                <td>{{ p.building }}</td>
                <td>{{ p.capital_man_yen }}</td>
                <td>{{ p.establishment_date }}</td>
                <td>{{ p.has_p_mark_or_isms }}</td>
                <td>{{ p.has_invoice_system }}</td>
                <td>{{ p.has_haken }}</td>
                <td>{{ p.has_distribution }}</td>
                <td>{{ p.employee_number }}</td>
                <td>{{ p.capital_man_yen_required_for_transactions }}</td>
                <td>{{ p.establishment_year }}</td>
                <td>{{ p.p_mark_or_isms }}</td>
                <td>{{ p.invoice_system }}</td>
                <td>{{ p.haken }}</td>
                <td>{{ p.deactivated_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if data.Email %}
<div id="Email">
    <h2>Email</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>MESSAGE ID</th>
            <th>SHARED</th>
            <th>DIRECTION</th>
            <th>FROM HEADER</th>
            <th>REPLY TO HEADER</th>
            <th>FROM NAME</th>
            <th>FROM ADDRESS</th>
            <th>TO HEADER</th>
            <th>CC HEADER</th>
            <th>SUBJECT</th>
            <th>SENT DATE</th>
            <th>HAS ATTACHMENTS</th>
            <th>CATEGORY</th>
            <th>ESTIMATED CATEGORY</th>
            <th>MESSAGE DIGEST</th>
            <th>STAFF IN CHARGE</th>
            <th>NOTIFICATIONS HAVE DONE</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.Email.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.message_id }}</td>
                <td>{{ p.shared }}</td>
                <td>{{ p.direction }}</td>
                <td>{{ p.from_header }}</td>
                <td>{{ p.reply_to_header }}</td>
                <td>{{ p.from_name }}</td>
                <td>{{ p.from_address }}</td>
                <td>{{ p.to_header }}</td>
                <td>{{ p.cc_header }}</td>
                <td>{{ p.subject }}</td>
                <td>{{ p.sent_date }}</td>
                <td>{{ p.has_attachments }}</td>
                <td>{{ p.category }}</td>
                <td>{{ p.estimated_category }}</td>
                <td>{{ p.message_digest }}</td>
                <td>{{ p.staff_in_charge }}</td>
                <td>{{ p.notifications_have_done }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.Email.description }}
    <span>
        <button data-page-name="Email" data-page-num={{ data.Email.prevPageNum }} class="update_display_button button" {% if data.Email.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.Email.pageNum }}</button>
        <button data-page-name="Email" data-page-num={{ data.Email.nextPageNum }} class="update_display_button button" {% if data.Email.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.EmailAttachment %}
<div id="EmailAttachment">
    <h2>EmailAttachment</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>EMAIL</th>
            <th>NAME</th>
            <th>CATEGORY</th>
            <th>FILE</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.EmailAttachment.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.category }}</td>
                <td>{{ p.file }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.EmailAttachment.description }}
    <span>
        <button data-page-name="EmailAttachment" data-page-num={{ data.EmailAttachment.prevPageNum }} class="update_display_button button" {% if data.EmailAttachment.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.EmailAttachment.pageNum }}</button>
        <button data-page-name="EmailAttachment" data-page-num={{ data.EmailAttachment.nextPageNum }} class="update_display_button button" {% if data.EmailAttachment.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.EmailComment %}
<div id="EmailComment">
    <h2>EmailComment</h2>
    <table class="model_table table table-bordered">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>CREATED USER</th>
            <th>CREATED TIME</th>
            <th>MODIFIED USER</th>
            <th>MODIFIED TIME</th>
            <th>EMAIL</th>
            <th>CONTENT</th>
            <th>IS IMPORTANT</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.EmailComment.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.created_user }}</td>
                <td>{{ p.created_time }}</td>
                <td>{{ p.modified_user }}</td>
                <td>{{ p.modified_time }}</td>
                <td>{{ p.email }}</td>
                <td>{{ p.content }}</td>
                <td>{{ p.is_important }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.EmailComment.description }}
    <span>
        <button data-page-name="EmailComment" data-page-num={{ data.EmailComment.prevPageNum }} class="update_display_button button" {% if data.EmailComment.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.EmailComment.pageNum }}</button>
        <button data-page-name="EmailComment" data-page-num={{ data.EmailComment.nextPageNum }} class="update_display_button button" {% if data.EmailComment.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.MailboxMapping %}
<div id="MailboxMapping">
    <h2>MailboxMapping</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>DELETED AT</th>
            <th>ID</th>
            <th>mailbox</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.MailboxMapping.objectList %}
                <tr>
                <td>{{ p.deleted_at }}</td>
                <td>{{ p.id }}</td>
                <td>{{ p.mailbox }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.MailboxMapping.description }}
    <span>
        <button data-page-name="MailboxMapping" data-page-num={{ data.MailboxMapping.prevPageNum }} class="update_display_button button" {% if data.MailboxMapping.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.MailboxMapping.pageNum }}</button>
        <button data-page-name="MailboxMapping" data-page-num={{ data.MailboxMapping.nextPageNum }} class="update_display_button button" {% if data.MailboxMapping.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% if data.Mailbox %}
<div id="Mailbox">
    <h2>Mailbox</h2>
    <table class="model_table table table-bordered nowrap">
        <thead>
            <tr>
            <th>NAME</th>
            <th>URI</th>
            <th>FROM EMAIL</th>
            <th>ACTIVE</th>
            <th>LAST POLLING</th>
            </tr>
        </thead>
        <tbody>
            {% for p in data.Mailbox.objectList %}
                <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.uri }}</td>
                <td>{{ p.from_email }}</td>
                <td>{{ p.active }}</td>
                <td>{{ p.last_polling }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ data.Mailbox.description }}
    <span>
        <button data-page-name="Mailbox" data-page-num={{ data.Mailbox.prevPageNum }} class="update_display_button button" {% if data.Mailbox.hasPrevious == "False" %} disabled="true" {% endif %} ><</button>
        <button class="button" disabled="true">{{ data.Mailbox.pageNum }}</button>
        <button data-page-name="Mailbox" data-page-num={{ data.Mailbox.nextPageNum }} class="update_display_button button" {% if data.Mailbox.hasNext == "False" %} disabled="true" {% endif %}>></button>
    </span>
</div>
{% endif %}

{% endif %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-3.6.0/dt-1.11.5/datatables.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-3.6.0/dt-1.11.5/datatables.min.js"></script>
<script type="text/javascript">
    $(function(){
        $("#select_company_form").submit(function(event) {
            event.preventDefault();
            var form = $(this);
            window.location.href = form.prop("action") + '?company_id=' + $('#company_id').val() + '&target_table=all';
        });
        $(".model_table").DataTable({
            order: [],
            scrollX: true,
            lengthChange: false,
            searching: false,
            ordering: false,
            info: false,
            paging: false
        });
        $(document).on('click','.update_display_button', function(e) {
            var dataset = e.target.dataset
            var query = '?company_id=' + $('#company_id').val() + '&target_table=' + dataset.pageName + '&target_table_page_num=' + dataset.pageNum
            event.preventDefault();
            $.ajax({
                url: "/admin/display_email_group_models/" + query,
                type: "GET",
                timeout: 30000
            })
            .done(function(data) {
                var targetID = '#' + dataset.pageName
                $(targetID).replaceWith($(data).find(targetID))
                $(targetID + " .model_table").DataTable({
                    order: [],
                    scrollX: true,
                    lengthChange: false,
                    searching: false,
                    ordering: false,
                    info: false,
                    paging: false
                });
            })
        });
    });
</script>

{% endblock %}
