/* WRAPPER */

:global(.wrapper) {
    margin: 0 auto;
    max-width: 100%;
    width: 70em;
}

@media screen and (max-width: 1680px) {
    :global(.wrapper) {
        width: 70em;
    }
}

@media screen and (max-width: 1280px) {
    :global(.wrapper) {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 980px) {
    :global(.wrapper) {
        width: calc(100% - 80px);
    }
}

@media screen and (max-width: 736px) {
    :global(.wrapper) {
        width: calc(100% - 40px);
    }
}

/* ROW */

:global(.row) {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
}

:global(.row > *) {
    box-sizing: border-box;
}

:global(.row.gtr-uniform > * > :last-child) {
    margin-bottom: 0;
}

:global(.row.aln-left) {
    justify-content: flex-start;
}

:global(.row.aln-center) {
    justify-content: center;
}

:global(.row.aln-right) {
    justify-content: flex-end;
}

:global(.row.aln-top) {
    align-items: flex-start;
}

:global(.row.aln-middle) {
    align-items: center;
}

:global(.row.aln-bottom) {
    align-items: flex-end;
}

:global(.row > .imp) {
    order: -1;
}

:global(.row > .col-1) {
    width: 8.33333%;
}

:global(.row > .off-1) {
    margin-left: 8.33333%;
}

:global(.row > .col-2) {
    width: 16.66667%;
}

:global(.row > .off-2) {
    margin-left: 16.66667%;
}

:global(.row > .col-3) {
    width: 25%;
}

:global(.row > .off-3) {
    margin-left: 25%;
}

:global(.row > .col-4) {
    width: 33.33333%;
}

:global(.row > .off-4) {
    margin-left: 33.33333%;
}

:global(.row > .col-5) {
    width: 41.66667%;
}

:global(.row > .off-5) {
    margin-left: 41.66667%;
}

:global(.row > .col-6) {
    width: 50%;
}

:global(.row > .off-6) {
    margin-left: 50%;
}

:global(.row > .col-7) {
    width: 58.33333%;
}

:global(.row > .off-7) {
    margin-left: 58.33333%;
}

:global(.row > .col-8) {
    width: 66.66667%;
}

:global(.row > .off-8) {
    margin-left: 66.66667%;
}

:global(.row > .col-9) {
    width: 75%;
}

:global(.row > .off-9) {
    margin-left: 75%;
}

:global(.row > .col-10) {
    width: 83.33333%;
}

:global(.row > .off-10) {
    margin-left: 83.33333%;
}

:global(.row > .col-11) {
    width: 91.66667%;
}

:global(.row > .off-11) {
    margin-left: 91.66667%;
}

:global(.row > .col-12) {
    width: 100%;
}

:global(.row > .off-12) {
    margin-left: 100%;
}

:global(.row.gtr-0) {
    margin-top: 0px;
    margin-left: 0px;
}

:global(.row.gtr-0 > *) {
    padding: 0px 0 0 0px;
}

:global(.row.gtr-0.gtr-uniform) {
    margin-top: 0px;
}

:global(.row.gtr-0.gtr-uniform > *) {
    padding-top: 0px;
}

:global(.row.gtr-25) {
    margin-top: -12.5px;
    margin-left: -12.5px;
}

:global(.row.gtr-25 > *) {
    padding: 12.5px 0 0 12.5px;
}

:global(.row.gtr-25.gtr-uniform) {
    margin-top: -12.5px;
}

:global(.row.gtr-25.gtr-uniform > *) {
    padding-top: 12.5px;
}

:global(.row.gtr-50) {
    margin-top: -25px;
    margin-left: -25px;
}

:global(.row.gtr-50 > *) {
    padding: 25px 0 0 25px;
}

:global(.row.gtr-50.gtr-uniform) {
    margin-top: -25px;
}

:global(.row.gtr-50.gtr-uniform > *) {
    padding-top: 25px;
}

:global(.row) {
    margin-top: -50px;
    margin-left: 0;
}

:global(.row > *) {
    padding: 50px 0 0 50px;
}

:global(.row.gtr-uniform) {
    margin-top: -50px;
}

:global(.row.gtr-uniform > *) {
    padding-top: 50px;
}

:global(.row.gtr-150) {
    margin-top: -75px;
    margin-left: -75px;
}

:global(.row.gtr-150 > *) {
    padding: 75px 0 0 75px;
}

:global(.row.gtr-150.gtr-uniform) {
    margin-top: -75px;
}

:global(.row.gtr-150.gtr-uniform > *) {
    padding-top: 75px;
}

:global(.row.gtr-200) {
    margin-top: -100px;
    margin-left: -100px;
}

:global(.row.gtr-200 > *) {
    padding: 100px 0 0 100px;
}

:global(.row.gtr-200.gtr-uniform) {
    margin-top: -100px;
}

:global(.row.gtr-200.gtr-uniform > *) {
    padding-top: 100px;
}

@media screen and (max-width: 1680px) {
    :global(.row) {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    :global(.row > *) {
        box-sizing: border-box;
    }

    :global(.row.gtr-uniform > * > :last-child) {
        margin-bottom: 0;
    }

    :global(.row.aln-left) {
        justify-content: flex-start;
    }

    :global(.row.aln-center) {
        justify-content: center;
    }

    :global(.row.aln-right) {
        justify-content: flex-end;
    }

    :global(.row.aln-top) {
        align-items: flex-start;
    }

    :global(.row.aln-middle) {
        align-items: center;
    }

    :global(.row.aln-bottom) {
        align-items: flex-end;
    }

    :global(.row > .imp-xlarge) {
        order: -1;
    }

    :global(.row > .col-1-xlarge) {
        width: 8.33333%;
    }

    :global(.row > .off-1-xlarge) {
        margin-left: 8.33333%;
    }

    :global(.row > .col-2-xlarge) {
        width: 16.66667%;
    }

    :global(.row > .off-2-xlarge) {
        margin-left: 16.66667%;
    }

    :global(.row > .col-3-xlarge) {
        width: 25%;
    }

    :global(.row > .off-3-xlarge) {
        margin-left: 25%;
    }

    :global(.row > .col-4-xlarge) {
        width: 33.33333%;
    }

    :global(.row > .off-4-xlarge) {
        margin-left: 33.33333%;
    }

    :global(.row > .col-5-xlarge) {
        width: 41.66667%;
    }

    :global(.row > .off-5-xlarge) {
        margin-left: 41.66667%;
    }

    :global(.row > .col-6-xlarge) {
        width: 50%;
    }

    :global(.row > .off-6-xlarge) {
        margin-left: 50%;
    }

    :global(.row > .col-7-xlarge) {
        width: 58.33333%;
    }

    :global(.row > .off-7-xlarge) {
        margin-left: 58.33333%;
    }

    :global(.row > .col-8-xlarge) {
        width: 66.66667%;
    }

    :global(.row > .off-8-xlarge) {
        margin-left: 66.66667%;
    }

    :global(.row > .col-9-xlarge) {
        width: 75%;
    }

    :global(.row > .off-9-xlarge) {
        margin-left: 75%;
    }

    :global(.row > .col-10-xlarge) {
        width: 83.33333%;
    }

    :global(.row > .off-10-xlarge) {
        margin-left: 83.33333%;
    }

    :global(.row > .col-11-xlarge) {
        width: 91.66667%;
    }

    :global(.row > .off-11-xlarge) {
        margin-left: 91.66667%;
    }

    :global(.row > .col-12-xlarge) {
        width: 100%;
    }

    :global(.row > .off-12-xlarge) {
        margin-left: 100%;
    }

    :global(.row.gtr-0) {
        margin-top: 0px;
        margin-left: 0px;
    }

    :global(.row.gtr-0 > *) {
        padding: 0px 0 0 0px;
    }

    :global(.row.gtr-0.gtr-uniform) {
        margin-top: 0px;
    }

    :global(.row.gtr-0.gtr-uniform > *) {
        padding-top: 0px;
    }

    :global(.row.gtr-25) {
        margin-top: -12.5px;
        margin-left: -12.5px;
    }

    :global(.row.gtr-25 > *) {
        padding: 12.5px 0 0 12.5px;
    }

    :global(.row.gtr-25.gtr-uniform) {
        margin-top: -12.5px;
    }

    :global(.row.gtr-25.gtr-uniform > *) {
        padding-top: 12.5px;
    }

    :global(.row.gtr-50) {
        margin-top: -25px;
        margin-left: -25px;
    }

    :global(.row.gtr-50 > *) {
        padding: 25px 0 0 25px;
    }

    :global(.row.gtr-50.gtr-uniform) {
        margin-top: -25px;
    }

    :global(.row.gtr-50.gtr-uniform > *) {
        padding-top: 25px;
    }

    :global(.row) {
        margin-top: -50px;
        margin-left: 0;
    }

    :global(.row > *) {
        padding: 50px 0 0 50px;
    }

    :global(.row.gtr-uniform) {
        margin-top: -50px;
    }

    :global(.row.gtr-uniform > *) {
        padding-top: 50px;
    }

    :global(.row.gtr-150) {
        margin-top: -75px;
        margin-left: -75px;
    }

    :global(.row.gtr-150 > *) {
        padding: 75px 0 0 75px;
    }

    :global(.row.gtr-150.gtr-uniform) {
        margin-top: -75px;
    }

    :global(.row.gtr-150.gtr-uniform > *) {
        padding-top: 75px;
    }

    :global(.row.gtr-200) {
        margin-top: -100px;
        margin-left: -100px;
    }

    :global(.row.gtr-200 > *) {
        padding: 100px 0 0 100px;
    }

    :global(.row.gtr-200.gtr-uniform) {
        margin-top: -100px;
    }

    :global(.row.gtr-200.gtr-uniform > *) {
        padding-top: 100px;
    }
}

@media screen and (max-width: 1280px) {
    :global(.row) {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    :global(.row > *) {
        box-sizing: border-box;
    }

    :global(.row.gtr-uniform > * > :last-child) {
        margin-bottom: 0;
    }

    :global(.row.aln-left) {
        justify-content: flex-start;
    }

    :global(.row.aln-center) {
        justify-content: center;
    }

    :global(.row.aln-right) {
        justify-content: flex-end;
    }

    :global(.row.aln-top) {
        align-items: flex-start;
    }

    :global(.row.aln-middle) {
        align-items: center;
    }

    :global(.row.aln-bottom) {
        align-items: flex-end;
    }

    :global(.row > .imp-large) {
        order: -1;
    }

    :global(.row > .col-1-large) {
        width: 8.33333%;
    }

    :global(.row > .off-1-large) {
        margin-left: 8.33333%;
    }

    :global(.row > .col-2-large) {
        width: 16.66667%;
    }

    :global(.row > .off-2-large) {
        margin-left: 16.66667%;
    }

    :global(.row > .col-3-large) {
        width: 25%;
    }

    :global(.row > .off-3-large) {
        margin-left: 25%;
    }

    :global(.row > .col-4-large) {
        width: 33.33333%;
    }

    :global(.row > .off-4-large) {
        margin-left: 33.33333%;
    }

    :global(.row > .col-5-large) {
        width: 41.66667%;
    }

    :global(.row > .off-5-large) {
        margin-left: 41.66667%;
    }

    :global(.row > .col-6-large) {
        width: 50%;
    }

    :global(.row > .off-6-large) {
        margin-left: 50%;
    }

    :global(.row > .col-7-large) {
        width: 58.33333%;
    }

    :global(.row > .off-7-large) {
        margin-left: 58.33333%;
    }

    :global(.row > .col-8-large) {
        width: 66.66667%;
    }

    :global(.row > .off-8-large) {
        margin-left: 66.66667%;
    }

    :global(.row > .col-9-large) {
        width: 75%;
    }

    :global(.row > .off-9-large) {
        margin-left: 75%;
    }

    :global(.row > .col-10-large) {
        width: 83.33333%;
    }

    :global(.row > .off-10-large) {
        margin-left: 83.33333%;
    }

    :global(.row > .col-11-large) {
        width: 91.66667%;
    }

    :global(.row > .off-11-large) {
        margin-left: 91.66667%;
    }

    :global(.row > .col-12-large) {
        width: 100%;
    }

    :global(.row > .off-12-large) {
        margin-left: 100%;
    }

    :global(.row.gtr-0) {
        margin-top: 0px;
        margin-left: 0px;
    }

    :global(.row.gtr-0 > *) {
        padding: 0px 0 0 0px;
    }

    :global(.row.gtr-0.gtr-uniform) {
        margin-top: 0px;
    }

    :global(.row.gtr-0.gtr-uniform > *) {
        padding-top: 0px;
    }

    :global(.row.gtr-25) {
        margin-top: -7.5px;
        margin-left: -7.5px;
    }

    :global(.row.gtr-25 > *) {
        padding: 7.5px 0 0 7.5px;
    }

    :global(.row.gtr-25.gtr-uniform) {
        margin-top: -7.5px;
    }

    :global(.row.gtr-25.gtr-uniform > *) {
        padding-top: 7.5px;
    }

    :global(.row.gtr-50) {
        margin-top: -15px;
        margin-left: -15px;
    }

    :global(.row.gtr-50 > *) {
        padding: 15px 0 0 15px;
    }

    :global(.row.gtr-50.gtr-uniform) {
        margin-top: -15px;
    }

    :global(.row.gtr-50.gtr-uniform > *) {
        padding-top: 15px;
    }

    :global(.row) {
        margin-top: -30px;
        margin-left: -30px;
    }

    :global(.row > *) {
        padding: 30px 0 0 30px;
    }

    :global(.row.gtr-uniform) {
        margin-top: -30px;
    }

    :global(.row.gtr-uniform > *) {
        padding-top: 30px;
    }

    :global(.row.gtr-150) {
        margin-top: -45px;
        margin-left: -45px;
    }

    :global(.row.gtr-150 > *) {
        padding: 45px 0 0 45px;
    }

    :global(.row.gtr-150.gtr-uniform) {
        margin-top: -45px;
    }

    :global(.row.gtr-150.gtr-uniform > *) {
        padding-top: 45px;
    }

    :global(.row.gtr-200) {
        margin-top: -60px;
        margin-left: -60px;
    }

    :global(.row.gtr-200 > *) {
        padding: 60px 0 0 60px;
    }

    :global(.row.gtr-200.gtr-uniform) {
        margin-top: -60px;
    }

    :global(.row.gtr-200.gtr-uniform > *) {
        padding-top: 60px;
    }
}

@media screen and (max-width: 980px) {
    :global(.row) {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    :global(.row > *) {
        box-sizing: border-box;
    }

    :global(.row.gtr-uniform > * > :last-child) {
        margin-bottom: 0;
    }

    :global(.row.aln-left) {
        justify-content: flex-start;
    }

    :global(.row.aln-center) {
        justify-content: center;
    }

    :global(.row.aln-right) {
        justify-content: flex-end;
    }

    :global(.row.aln-top) {
        align-items: flex-start;
    }

    :global(.row.aln-middle) {
        align-items: center;
    }

    :global(.row.aln-bottom) {
        align-items: flex-end;
    }

    :global(.row > .imp-medium) {
        order: -1;
    }

    :global(.row > .col-1-medium) {
        width: 8.33333%;
    }

    :global(.row > .off-1-medium) {
        margin-left: 8.33333%;
    }

    :global(.row > .col-2-medium) {
        width: 16.66667%;
    }

    :global(.row > .off-2-medium) {
        margin-left: 16.66667%;
    }

    :global(.row > .col-3-medium) {
        width: 25%;
    }

    :global(.row > .off-3-medium) {
        margin-left: 25%;
    }

    :global(.row > .col-4-medium) {
        width: 33.33333%;
    }

    :global(.row > .off-4-medium) {
        margin-left: 33.33333%;
    }

    :global(.row > .col-5-medium) {
        width: 41.66667%;
    }

    :global(.row > .off-5-medium) {
        margin-left: 41.66667%;
    }

    :global(.row > .col-6-medium) {
        width: 50%;
    }

    :global(.row > .off-6-medium) {
        margin-left: 50%;
    }

    :global(.row > .col-7-medium) {
        width: 58.33333%;
    }

    :global(.row > .off-7-medium) {
        margin-left: 58.33333%;
    }

    :global(.row > .col-8-medium) {
        width: 66.66667%;
    }

    :global(.row > .off-8-medium) {
        margin-left: 66.66667%;
    }

    :global(.row > .col-9-medium) {
        width: 75%;
    }

    :global(.row > .off-9-medium) {
        margin-left: 75%;
    }

    :global(.row > .col-10-medium) {
        width: 83.33333%;
    }

    :global(.row > .off-10-medium) {
        margin-left: 83.33333%;
    }

    :global(.row > .col-11-medium) {
        width: 91.66667%;
    }

    :global(.row > .off-11-medium) {
        margin-left: 91.66667%;
    }

    :global(.row > .col-12-medium) {
        width: 100%;
    }

    :global(.row > .off-12-medium) {
        margin-left: 100%;
    }

    :global(.row.gtr-0) {
        margin-top: 0px;
        margin-left: 0px;
    }

    :global(.row.gtr-0 > *) {
        padding: 0px 0 0 0px;
    }

    :global(.row.gtr-0.gtr-uniform) {
        margin-top: 0px;
    }

    :global(.row.gtr-0.gtr-uniform > *) {
        padding-top: 0px;
    }

    :global(.row.gtr-25) {
        margin-top: -10px;
        margin-left: -10px;
    }

    :global(.row.gtr-25 > *) {
        padding: 10px 0 0 10px;
    }

    :global(.row.gtr-25.gtr-uniform) {
        margin-top: -10px;
    }

    :global(.row.gtr-25.gtr-uniform > *) {
        padding-top: 10px;
    }

    :global(.row.gtr-50) {
        margin-top: -20px;
        margin-left: -20px;
    }

    :global(.row.gtr-50 > *) {
        padding: 20px 0 0 20px;
    }

    :global(.row.gtr-50.gtr-uniform) {
        margin-top: -20px;
    }

    :global(.row.gtr-50.gtr-uniform > *) {
        padding-top: 20px;
    }

    :global(.row) {
        margin-top: -40px;
        margin-left: -40px;
    }

    :global(.row > *) {
        padding: 40px 0 0 40px;
    }

    :global(.row.gtr-uniform) {
        margin-top: -40px;
    }

    :global(.row.gtr-uniform > *) {
        padding-top: 40px;
    }

    :global(.row.gtr-150) {
        margin-top: -60px;
        margin-left: -60px;
    }

    :global(.row.gtr-150 > *) {
        padding: 60px 0 0 60px;
    }

    :global(.row.gtr-150.gtr-uniform) {
        margin-top: -60px;
    }

    :global(.row.gtr-150.gtr-uniform > *) {
        padding-top: 60px;
    }

    :global(.row.gtr-200) {
        margin-top: -80px;
        margin-left: -80px;
    }

    :global(.row.gtr-200 > *) {
        padding: 80px 0 0 80px;
    }

    :global(.row.gtr-200.gtr-uniform) {
        margin-top: -80px;
    }

    :global(.row.gtr-200.gtr-uniform > *) {
        padding-top: 80px;
    }
}

@media screen and (max-width: 736px) {
    :global(.row) {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        align-items: stretch;
    }

    :global(.row > *) {
        box-sizing: border-box;
    }

    :global(.row.gtr-uniform > * > :last-child) {
        margin-bottom: 0;
    }

    :global(.row.aln-left) {
        justify-content: flex-start;
    }

    :global(.row.aln-center) {
        justify-content: center;
    }

    :global(.row.aln-right) {
        justify-content: flex-end;
    }

    :global(.row.aln-top) {
        align-items: flex-start;
    }

    :global(.row.aln-middle) {
        align-items: center;
    }

    :global(.row.aln-bottom) {
        align-items: flex-end;
    }

    :global(.row > .imp-small) {
        order: -1;
    }

    :global(.row > .col-1-small) {
        width: 8.33333%;
    }

    :global(.row > .off-1-small) {
        margin-left: 8.33333%;
    }

    :global(.row > .col-2-small) {
        width: 16.66667%;
    }

    :global(.row > .off-2-small) {
        margin-left: 16.66667%;
    }

    :global(.row > .col-3-small) {
        width: 25%;
    }

    :global(.row > .off-3-small) {
        margin-left: 25%;
    }

    :global(.row > .col-4-small) {
        width: 33.33333%;
    }

    :global(.row > .off-4-small) {
        margin-left: 33.33333%;
    }

    :global(.row > .col-5-small) {
        width: 41.66667%;
    }

    :global(.row > .off-5-small) {
        margin-left: 41.66667%;
    }

    :global(.row > .col-6-small) {
        width: 50%;
    }

    :global(.row > .off-6-small) {
        margin-left: 50%;
    }

    :global(.row > .col-7-small) {
        width: 58.33333%;
    }

    :global(.row > .off-7-small) {
        margin-left: 58.33333%;
    }

    :global(.row > .col-8-small) {
        width: 66.66667%;
    }

    :global(.row > .off-8-small) {
        margin-left: 66.66667%;
    }

    :global(.row > .col-9-small) {
        width: 75%;
    }

    :global(.row > .off-9-small) {
        margin-left: 75%;
    }

    :global(.row > .col-10-small) {
        width: 83.33333%;
    }

    :global(.row > .off-10-small) {
        margin-left: 83.33333%;
    }

    :global(.row > .col-11-small) {
        width: 91.66667%;
    }

    :global(.row > .off-11-small) {
        margin-left: 91.66667%;
    }

    :global(.row > .col-12-small) {
        width: 100%;
    }

    :global(.row > .off-12-small) {
        margin-left: 100%;
    }

    :global(.row.gtr-0) {
        margin-top: 0px;
        margin-left: 0px;
    }

    :global(.row.gtr-0 > *) {
        padding: 0px 0 0 0px;
    }

    :global(.row.gtr-0.gtr-uniform) {
        margin-top: 0px;
    }

    :global(.row.gtr-0.gtr-uniform > *) {
        padding-top: 0px;
    }

    :global(.row.gtr-25) {
        margin-top: -5px;
        margin-left: -5px;
    }

    :global(.row.gtr-25 > *) {
        padding: 5px 0 0 5px;
    }

    :global(.row.gtr-25.gtr-uniform) {
        margin-top: -5px;
    }

    :global(.row.gtr-25.gtr-uniform > *) {
        padding-top: 5px;
    }

    :global(.row.gtr-50) {
        margin-top: -10px;
        margin-left: -10px;
    }

    :global(.row.gtr-50 > *) {
        padding: 10px 0 0 10px;
    }

    :global(.row.gtr-50.gtr-uniform) {
        margin-top: -10px;
    }

    :global(.row.gtr-50.gtr-uniform > *) {
        padding-top: 10px;
    }

    :global(.row) {
        margin-top: -20px;
        margin-left: -20px;
    }

    :global(.row > *) {
        padding: 20px 0 0 20px;
    }

    :global(.row.gtr-uniform) {
        margin-top: -20px;
    }

    :global(.row.gtr-uniform > *) {
        padding-top: 20px;
    }

    :global(.row.gtr-150) {
        margin-top: -30px;
        margin-left: -30px;
    }

    :global(.row.gtr-150 > *) {
        padding: 30px 0 0 30px;
    }

    :global(.row.gtr-150.gtr-uniform) {
        margin-top: -30px;
    }

    :global(.row.gtr-150.gtr-uniform > *) {
        padding-top: 30px;
    }

    :global(.row.gtr-200) {
        margin-top: -40px;
        margin-left: -40px;
    }

    :global(.row.gtr-200 > *) {
        padding: 40px 0 0 40px;
    }

    :global(.row.gtr-200.gtr-uniform) {
        margin-top: -40px;
    }

    :global(.row.gtr-200.gtr-uniform > *) {
        padding-top: 40px;
    }
}
