/*! CSS Used from: Embedded */
:global(.pp-table-content) {
    overflow: auto;
    overflow-y: hidden;
}

:global(.pp-space) {
    display: inline-flex;
}

:global(.pp-space-align-center) {
    align-items: center;
}

:global(.pp-space-item:empty) {
    display: none;
}

:global(.pp-spin-nested-loading) {
    position: relative;
}

:global(.pp-spin-container) {
    position: relative;
    transition: opacity 0.3s;
}

:global(.pp-spin-container:after) {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    transition: all 0.3s;
    content: "";
    pointer-events: none;
}

:global(.pp-table-wrapper) {
    clear: both;
    max-width: 100%;
}

:global(.pp-table-wrapper:before) {
    display: table;
    content: "";
}

:global(.pp-table-wrapper:after) {
    display: table;
    clear: both;
    content: "";
}

:global(.pp-table) {
    box-sizing: border-box;
    margin: 0 5%;
    padding: 0;
    color: #000000d9;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    font-size: 14px;
    background: #fff;
    border-radius: 2px;
}

:global(.pp-table table) {
    width: 100%;
    text-align: left;
    border-radius: 2px 2px 0 0;
    border-collapse: separate;
    border-spacing: 0;
}

:global(.pp-table-thead > tr > th),
:global(.pp-table-tbody > tr > td) {
    position: relative;
    padding: 16px;
    overflow-wrap: break-word;
}

:global(.pp-table-thead > tr > th) {
    position: relative;
    color: #000000d9;
    font-weight: 500;
    text-align: left;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.3s ease;
    text-align: center;
    width: 25%;
}

:globa(.pp-table-thead
        > tr
        > th:not(:last-child):not(.pp-table-selection-column):not(.pp-table-row-expand-icon-cell):not([colspan]):before) {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 1.6em;
    background-color: #0000000f;
    transform: translateY(-50%);
    transition: background-color 0.3s;
    content: "";
}

:global(.pp-table-tbody > tr > td) {
    border-bottom: 1px solid #f0f0f0;
    transition: background 0.3s;
    text-align: center;
}

:global(.pp-table .pp-table-container:before),
:global(.pp-table .pp-table-container:after) {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 30px;
    transition: box-shadow 0.3s;
    content: "";
    pointer-events: none;
}

:global(.pp-table .pp-table-container:before) {
    left: 0;
}

:global(.pp-table .pp-table-container:after) {
    right: 0;
}

:global(.pp-table-container) {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

:global(.pp-table-container table > thead > tr:first-child th:first-child) {
    border-top-left-radius: 2px;
}

:global(.pp-table-container table > thead > tr:first-child th:last-child) {
    border-top-right-radius: 2px;
}

:global(.pp-tag) {
    box-sizing: border-box;
    margin: 0 8px 0 0;
    color: #000000d9;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    display: inline-block;
    height: auto;
    padding: 0 7px;
    font-size: 12px;
    line-height: 20px;
    white-space: nowrap;
    background: #fafafa;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    opacity: 1;
    transition: all 0.3s;
}

:global(.pp-tag) {
    color: #000000d9;
}

:global(.pp-tag-volcano) {
    color: #d4380d;
    background: #fff2e8;
    border-color: #ffbb96;
}

:global(.pp-tag-green) {
    color: #389e0d;
    background: #f6ffed;
    border-color: #b7eb8f;
}

:global(.pp-tag-geekblue) {
    color: #1d39c4;
    background: #f0f5ff;
    border-color: #adc6ff;
}

:global([class^="pp-"]::-ms-clear),
:global([class*="pp-"]::-ms-clear) {
    display: none;
}

:global([tabindex="-1"]:focus) {
    outline: none !important;
}

:global(.ppicon) {
    display: inline-block;
    color: inherit;
    font-style: normal;
    line-height: 0;
    text-align: center;
    text-transform: none;
    vertical-align: -0.125em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global(.ppicon > *) {
    line-height: 1;
}

:global(.ppicon svg) {
    display: inline-block;
}

:global(.ppicon:before) {
    display: none;
}

:global(.pp-table-first-td-cell) {
    text-align: left;
}

:global(tbody > tr > td:nth-child(1)) {
    text-align: left;
}
