.image{
    width: 100%;
    height: 146px;
    object-fit: cover;
}
.contentBoard{
    padding:10px 10px 10px 20px,
}
.textContent{
    display: flex;
    justify-content: start;
    padding: 10px 0;
}
.container{
    background: #fff;
}
.tagContent{
    margin-bottom: 7px;
}
.cursor{
    cursor: pointer;
};
