{{ display_name }} 様<br>
<br>
いつもコモレビをご利用いただきまして、誠にありがとうございます。<br>
<br>
予備クレジットカードでの決済が行われましたのでご連絡いたします。<br>
お手数ですが、メインクレジットカードのお支払い情報をご確認いただけますと幸いです。<br>
<br>
<a href="{{ url }}/purchaseHistory" > お支払い履歴</a><br>
<br>
<br>
-------------------------------------------------<br>
本メールはコモレビをご利用いただいているお客様に配信しています。<br>
送信専用アドレスから配信されているため、ご返信いただいてもご回答いたしかねます。<br>
あらかじめご了承ください。<br>
なお、本メールに心当たりが無い場合は、<br>
お手数ですが本メールを破棄していただきますよう何卒よろしくお願い申し上げます。<br>
<br>
SES事業者によるSES事業者のための営業支援ツール　コモレビ<br>
<a href="https://intercom.help/cmrb/ja/" > ヘルプセンター </a><br>
<br>
運営会社：株式会社ヘルスベイシス<br>
