コモレビをご利用いただきまして、誠にありがとうございます。<br>
<br>
会員情報の登録が無事完了いたしました。<br>
引き続き、残りステップの登録をお願いいたします。<br>
<br>
<a href="{{ protocol }}://{{ domain }}/tenant?auth_token={{ auth_token }}" > 新規テナント登録 </a><br>
<br>
<br>
-------------------------------------------------<br>
本メールはコモレビをご利用いただいているお客様に配信しています。<br>
送信専用アドレスから配信されているため、ご返信いただいてもご回答いたしかねます。<br>
あらかじめご了承ください。<br>
なお、本メールに心当たりが無い場合は、<br>
お手数ですが本メールを破棄していただきますよう何卒よろしくお願い申し上げます。<br>
<br>
SES事業者によるSES事業者のための営業支援ツール　コモレビ<br>
<a href="https://intercom.help/cmrb/ja/" > ヘルプセンター </a><br>
<br>
運営会社：株式会社ヘルスベイシス<br>
