{{ display_name }} 様<br>
<br>
いつもコモレビをご利用いただきまして、誠にありがとうございます。<br>
以下のリンクより、パスワードを再設定することができます。<br>
<br>
<a href="{{ protocol }}://{{ domain }}/passwordChange/{{ token }}" > パスワードを再設定する</a><br>
※パスワードは、上記リンクより変更操作をしない限り変更されません。<br>
<br>
<br>
-------------------------------------------------<br>
本メールはコモレビをご利用いただいているお客様に配信しています。<br>
送信専用アドレスから配信されているため、ご返信いただいてもご回答いたしかねます。<br>
あらかじめご了承ください。<br>
なお、本メールに心当たりが無い場合は、<br>
お手数ですが本メールを破棄していただきますよう何卒よろしくお願い申し上げます。<br>
<br>
SES事業者によるSES事業者のための営業支援ツール　コモレビ<br>
<a href="https://intercom.help/cmrb/ja/" > ヘルプセンター </a><br>
<br>
運営会社：株式会社ヘルスベイシス<br>
