{{ display_name }} 様<br>
<br>
いつもコモレビをご利用いただきまして、誠にありがとうございます。<br>
<br>
コモレビの退会が完了いたしましたのでご連絡いたします。<br>
テナントにご登録いただいていたデータは数日後に削除されます。<br>
データの復元を承ることはできかねますため、ご了承ください。<br>
これまでコモレビをご愛顧いただきまして、誠にありがとうございました。<br>
<br>
<br>
-------------------------------------------------<br>
本メールは送信専用アドレスから配信されているため、<br>
ご返信いただいてもご回答いたしかねます。<br>
あらかじめご了承ください。<br>
なお、本メールに心当たりが無い場合は、<br>
お手数ですが本メールを破棄していただきますよう何卒よろしくお願い申し上げます。<br>
<br>
SES事業者によるSES事業者のための営業支援ツール　コモレビ<br>
<a href="https://intercom.help/cmrb/ja/" > ヘルプセンター </a><br>
<br>
運営会社：株式会社ヘルスベイシス<br>
