{% extends "admin/index.html" %}

{% block content %}
    <div class="module">
        <table>
            <caption>
                <a class="section" >バッチ処理の手動実行</a>
            </caption>
            <tr>
                <th scope="row"><a href="/admin/batch_payment/">決済処理</a></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"><a href="/admin/batch_calculate_stats/">集計処理</a></th>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="module">
        <table>
            <caption>
                <a class="section" >テナント単位での集約情報表示</a>
            </caption>
            <tr>
                <th scope="row"><a href="/admin/display_organization_group_models/">取引先</a></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"><a href="/admin/display_email_group_models/">共有メール</a></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"><a href="/admin/display_scheduled_email_group_models/">配信メール</a></th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row"><a href="/admin/display_other_group_models/">その他</a></th>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    {{ block.super }}
{% endblock %}
