.modalButton {
  width: 100%;
}

.listContainer {
  max-height: 35vh;
  overflow-x: scroll;
  li {
      div {
          width: 100%;
      }
  }
}

.modalActions {
  margin-top: 2%;
}

.editCancelButton {
  margin-left: 8px;
}
