@import "./page";

.selectionCounter {
    margin: 16px auto;
    text-align: left;
}

.steps {
    text-align: left;
}

.uploaderContainer {
    max-width: 704px;
    margin: 16px auto;
}

.previewContainer {
    max-width: 896px;
    margin: 16px auto;
}

.scheduledCustomPicker {
  div {
    div {
      div {
        div {
          div {
            button:nth-child(1) {
              display: inline;
              pointer-events: none;
            }
            button:nth-child(2) {
              pointer-events: none;
            }
          }
          button:nth-child(1) {
            display: none;
          }
          button:nth-child(5) {
            display: none;
          }
        }
      }
    }
  }
  
}
.colorFocus:focus{
    color: #444444;
    border-color: #d9d9d9;
}
.colorBgFocus:focus{
    border-color: #A7CF69;
    background: #A7CF69;
}

.customProgressBar {
  background-color: #fafafa3d;
  position: fixed;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  div {
    z-index: 100000;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 24%;
  }
}

.sectionAttachmentType {
  text-align: right;
  margin-bottom: 5px;
}
