.editButton{
    margin-left: 10px;
    margin-right: 10px;
}
.textAreaCol{
    margin-top: 20px;
}
.buttonPushPin{
    margin-right: 10px;
}
@mixin commentBase {
  border-top: dashed 1px lightgrey;
  border-bottom: dashed 1px lightgrey;
  margin: 16px 0;
  text-align: left;
  padding: 11px 10px 8px;
}

.comment {
  @include commentBase();
}

.importantComment {
  @include commentBase();
  background-color: #fff0f5;
}

