.editor {
    margin: auto;
    padding: 16px 0;
    text-align: left;
}

.controlButton {
    margin-right: 5px;
}
.colorFocus{
  margin-right: 5px;
  &:focus{
      border-color: #A7CF69;
      background-color: #A7CF69;
  }
}
.snippetsButton{
  margin-right: 5px;
  &:focus{
      border-color: #A7CF69;
      background-color: #A7CF69;
  }
}

