.contentNotRegisterUser {
  margin-bottom: 20px;
  p {
    margin: 0 !important;
  }
}

.margin0 {
  margin: 0 !important;
}

.description {
  margin-top: 20px;
}

.numberUser {
  margin: 20px 0 0 30px;
}

.numberUserPaid {
  margin: 10px 0 0 40px;
  flex-direction: column;
}

.numberUserPaidItem {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.checkboxContainer {
  margin-top: 20px;
}

.checkboxItem {
  margin-left: 0 !important;
}
