@mixin commentBase {
  border-top: dashed 1px lightgrey;
  border-bottom: dashed 1px lightgrey;
  margin: 16px 0;
  text-align: left;
  padding: 11px 10px 8px;
}

.comment {
  @include commentBase();
}

.importantComment {
  @include commentBase();
  background-color: #fff0f5;
}

.avatar {
  font-size: 40px;
}

.avatarChild {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
}
.textHideStyle {
  display: flex;
  margin-left: 50px;
}

.button {
  padding: 0;
}

.editor {
  margin: auto;
  padding: 16px 0;
  text-align: left;
}

.editorTextArea {
  padding: auto 16px;
}

.paginator {
  margin: 16px auto;
  text-align: end;
}

.controlButton {
  margin-right: 5px;
}

.listContainer {
  li {
    div {
      width: 100%;
    }
  }
}

.modalButton {
  width: 100%;
}

.modalActions {
  margin-top: 2%;
}

.editCancelButton {
  margin-left: 8px;
}

.avatarImageWrapper {
  width: 40px;
  height: 40px;
}

.avatarImage {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.commentItem{
  display: flex;
  align-items: center;
}
