.imageTop{
    width: 100%;
    height: 146px;
    object-fit: cover;
}
.contentBoard{
    padding:10px 10px 10px 20px,
}
.textContent{
    padding: 10px 0;
}
.containerCustom{
    width: 33.33%;
    background: #fff;
}
.tagContent{
    margin-bottom: 7px;
}
.cursor{
    cursor: pointer;
}