$color: #00059c;

.headerIcon {
    margin: auto 6px;
    border-color: transparent;
    color: #262626;
    background: transparent;

    &:hover {
        border-color: transparent;
        color: $color;
        background: transparent;
    }
}
