.controlButton {
  margin-right: 5px !important;
}

.avatar {
  font-size: 40px;
}

.buttonScroll {
  display: flex;
  justify-content: center;
}
.replyCommentButton {
  margin-left: 5px !important;
  background-color: white;
  color: black;
  border: solid 1px black;
}
