.urgent {
  div:nth-child(1) {
    color: white;
    background-color: #EB5A46 !important;
  }
}
.important {
  div:nth-child(1) {
    color: white;
    background-color: #FFAB4A !important;
  }
}
.high {
  div:nth-child(1) {
    color: white;
    background-color: #F2D600 !important;
  }
}
.medium {
  div:nth-child(1) {
    color: white;
    background-color: #61BD4F !important;
  }
}
.low {
  div:nth-child(1) {
    color: white;
    background-color: #0079BF !important;
  }
}