@import "../../../../../../stylesheets/constants.scss";

.field {
    max-width: 800px;
    margin: 8px 0;
    @include mobile-devices {
        margin: 8px auto;
        width: 100%;
    }
}

.phonenumberDash {
    display: inline-block;
    width: 5%;
    text-align: center;
}
