.container {
    margin: 16px auto;
    text-align: center;
    border: thin solid darkgray;
}

.headStyle {
    background-color: #cccccc;
}

.bodyStyle {
    background-color: #ffffff;
}

.row {
    padding-right: 10%;
}

.field {
    margin: 8px auto;
}

.searchButton {
    margin: 8px auto;
    text-align: left;
}

.inlineField {
    margin: 8px auto;
    display: inline-block;
    _display: inline;
}

.divider {
    line-height: 0.8;
    margin: 8px auto !important;
}

.button {
    margin: 16px 10%;
    width: 24%;
}

.buttonWrapper {
    text-align: center;
}

.alert {
    margin-top: 16px;
    margin-bottom: 16px;
}

.includeContainer {
    margin-top: 7%;
}
